@import url('./reset.css');

:root {
    --header-height: 56px;
    --header-color: #fff;
    --sidebar-color: #3D0099;
    --sidebar-width: 200px;
    --sidebar-width-close: 56px;
    --container-color: #fff;
    --margin: 24px;
}

.hidden {
    display: none;
}

body {
    width: 100vw;
}

#wrapper {
    background-color: #E0CCFF;
    height: 100vh;
    position: relative;
}

#header {
    height: var(--header-height);
    line-height: var(--header-height);
    margin-bottom: var(--margin);
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#header .header-left {
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: flex-start;
}

#header .toggle-sidebar {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
    height: 56px;
}

#header .header-left li {
    display: block;
    cursor: pointer;
}

#header .header-left .menu {
    margin-left: 50px;
}

#header .header-left .menu .subnav {
    border: none;
    outline: none;
    transition: all 0.3s ease;
    padding: 16px 0px;
    border-radius: 4px;
    font-size: 16px;
}

#header .header-left .menu .subnav:hover {
    background-color: #e7e3e3;
    cursor: pointer;
}

#header .header-left .menu li:first-child p {
    margin-right: 4px;
}

#header .logo-img {
    display: block;
    margin-left: 12px;
    height: calc(var(--header-height) - 10px);
}

#header .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    height: 56px;
    padding: 0 20px;
}

#header .header-right #avatar {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

#header .header-right .name {
    font-size: 14px;
    margin: 0 12px;
}

#header .header-right .option {
    filter: brightness(0);
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

#sidebar {
    width: var(--sidebar-width);
    margin-right: var(--margin);
    background-color: var(--sidebar-color);
    position: fixed;
    top: var(--header-height);
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
    z-index: 10;
}

#sidebar.close {
    width: var(--sidebar-width-close);
}

#sidebar .menu-sidebar {
    margin-top: 24px;
    list-style: none;
}

#sidebar .menu-sidebar li:first-child {
    margin-top: 8px;
}

#sidebar .menu-sidebar li.active:hover {
    opacity: 1;
}

#sidebar .menu-sidebar li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 15px;
    transition: all .3s ease;
    margin: 0px 8px;
}

#sidebar.close~#container {
    left: calc(var(--sidebar-width-close));
    margin-left: calc(var(--sidebar-width-close));
}

#sidebar.close .menu-sidebar li img {
    display: flex;
    justify-content: center;
    transform: translateX(-34%);
}

#sidebar.close .menu-sidebar li p {
    display: none;
}

#sidebar.close .item:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 70px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#sidebar.close .item:hover::after {
    opacity: 1;
    visibility: visible;
}

.shrink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 18px;
    transition: all .3s ease;
    border: 1px solid transparent;
    border-top: 1px solid #ccc;
    outline: none;
    color: #fff;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
}

.shrink .icon {
    margin: 0 16px;
}

#sidebar .menu-sidebar li:hover {
    opacity: 0.7;
}

#sidebar .menu-sidebar li.active {
    background-color: #5e25b3;
}

.row:hover.active,
.row.active {
    background-color: #e9e8e8;
}

#sidebar .menu-sidebar li img {
    /*brightness() điều chỉnh độ sáng ảnh 
    0 thì ảnh sẽ bị tối hoàn toàn
    1 hình ảnh giữ nguyên độ sáng ban đầu
    tăng cao hơn 1 hình ảnh sẽ sáng hơn*/
    /*invert(); đảo ngược màu sắc của hình ảnh
    1 hoặc 100% sẽ đảo ngược hoàn toàn màu sắc. Màu đen thành màu trắng, màu trắng thành màu đen
    Các màu khác sẽ bị đảo ngược theo dải màu tương ứng
    */
    filter: brightness(0) invert(1);
    margin-right: 12px;
}

#sidebar .menu-sidebar li p {
    color: #fff;
    font-size: 18px;
}

#container {
    position: absolute;
    top: 80px;
    left: 0;
    margin-left: calc(var(--sidebar-width) + 24px);
    height: 200px;
    min-width: 83vw;
}

#container .sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#container .sub-header .title {
    font-size: 24px;
    font-weight: bold;
}

#container .sub-header .add {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8433FF;
    background-color: #8433FF;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;
}

#container .sub-header .add:hover {
    background-color: #C199FF;
    border-color: #C199FF;
}

#container .sub-header .add p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
}

#container .content {
    background-color: var(--container-color);
    margin-top: var(--margin);
    overflow-y: auto;
    min-height: 65vh;
    transition: all .5s ease;
}

#container .content .content__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
}

.content .content__header .header__left {
    display: flex;
    align-items: center;
    width: 250px;
    position: relative;
}

.content .content__header input {
    width: 250px;
    border-radius: 8px;
    padding: 8px 40px 8px 12px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 16px;
}

.content .content__header img {
    pointer-events: none;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.content .content__header .header__right {
    display: flex;
    align-items: center;
}

.content__header .header__right .import,
.content__header .header__right .refresh,
.content__header .header__right .export,
.content__header .header__right .filter-btn {
    position: relative;
    width: 40px;
    height: 40px;
    border-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.header__right .import img,
.header__right .refresh img,
.header__right .export img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.header__right .filter-btn i {
    font-size: 20px;
}

.header__right .export,
.header__right .filter-btn,
.header__right .refresh {
    margin-left: 8px;
}

thead tr {
    border-radius: 4px 4px 0 0;
}

thead th {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    z-index: 1;
}

tbody {
    display: block;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}

thead,tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* Đảm bảo kích thước các cột không bị thay đổi */
}

table {
    border: 1px solid #ccc;
}

th, table .row {
    border-bottom: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
}

th,
td {
    border-left: 1px solid #ccc;
}

th:first-child,
td:first-child {
    border-left: none;
}

table th,
table td {
    font-size: 16px;
    box-sizing: border-box;
}

table th:nth-child(1),
table td:nth-child(1) {
    width: 5%;
    /* Cột STT */
}

table th:nth-child(2),
table td:nth-child(2) {
    width: 12%;
    /* Cột Mã nhân viên */
}

.th-code {
    cursor: pointer;
}

.th-code i {
    transition: all .3s ease;
}

.th-code.active i {
    display: inline-block;
    rotate: 180deg;
}

table th:nth-child(3),
table td:nth-child(3) {
    width: 15%;
    /* Cột Họ và tên */
}

table th:nth-child(4),
table td:nth-child(4) {
    width: 8%;
    /* Cột Giới tính */
}

table th:nth-child(5),
table td:nth-child(5) {
    text-align: center;
    width: 12%;
    /* Cột Ngày sinh */
}

table th:nth-child(6),
table td:nth-child(6) {
    width: 20%;
    overflow: hidden;
    border-right: 1px solid #ccc;
    /* Cột Địa chỉ email */
}

table th:nth-child(7),
table td:nth-child(7) {
    width: 28%;
    border-left: none;
    /* Cột Địa chỉ */
}

.empty-address::after {
    content: '12';
    color: transparent;
}

tbody::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    /* Chiều cao thanh cuộn ngang */
}

tbody::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

tbody::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

td.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 8px;
    white-space: nowrap;
    position: relative;
}
.row {
    position: relative;
}

.row .act {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.row .act button {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    text-align: center;
    padding: 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.row .act button:last-child {
    margin-left: 8px;
}

.row .act button img {
    width: 24px;
    height: 24px;
}

table .row td:last-child .edit-btn {
    margin: 0 4px 0 16px;
}

table .row td:last-child .delete-btn,
table .row td:last-child .edit-btn {
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
}

table .row td:last-child .delete-btn:hover,
table .row td:last-child .edit-btn:hover {
    opacity: .7;
}

table .row td:last-child .edit-btn img,
table .row td:last-child .delete-btn img {
    width: 16px;
    height: 16px;
}

td,
th {
    text-align: left;
    padding: 8px;
}

table {
    width: 82vw;
    margin: 8px;
}

th {
    font-weight: bold;
}

.row {
    cursor: pointer;
    transition: all .3s ease;
}

table .row:hover {
    background-color: #f5f5f5;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.ie-wrapper.open,
.popup.open {
    display: block;
}

.modal {
    position: absolute;
    width: 850px;
    border-radius: 4px;
    min-height: 250px;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    z-index: 10;
    margin-left: 86px;
    padding: 15px;
    transition: all .3s ease;
}

.modal .form .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal .modal__header p {
    font-size: 20px;
    font-weight: bold;
}

.modal .modal__header img,
.modal .modal__header button {
    background-color: #fff;
    transition: all .3s ease;
}

.modal .modal__header button {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
    overflow: hidden;
}

.modal .modal__header button:hover,
.modal .modal__header button:hover img {
    background-color: #b6b4b4;
}

.modal .modal__header img {
    height: 16px;
    width: 16px;
    object-fit: cover;
}

.form .row .form-group {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.form-group label {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.form-group:nth-child(4) label{
    margin-bottom: 0;
}

.form-group .option {
    display: flex;
    align-items: center;
}

.form-group label p {
    color: red;
}

.btnSave,
.delete-btn,
.edit-btn {
    position: relative;
}

.modal-footer .btnSave:hover::after,
.row .delete-btn:hover::after,
.row .edit-btn:hover::after {
    position: absolute;
    top: 0px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.row .edit-btn:hover::after {
    left: -80px;
}

.row .delete-btn:hover::after {
    left: 20px;
}

.row .form-group:nth-child(2) input,
.row .form-group:first-child input {
    width: 200px;
}

.row .form-group:nth-child(3) #identityDate,
.row .form-group:nth-child(3) #salary,
.row .form-group:nth-child(3) #birthday {
    width: 188px;
}

.row .form-group #department,
.row .form-group #position {
    width: 425px;
}

.row .form-group #CMTND {
    width: 230px;
}

.row .form-group #placeOfIssue {
    width: 405px;
}

.row .form-group #address {
    width: 840px;
}

.row .form-group #email,
.row .form-group #landline,
.row .form-group #numberPhone,
.row .form-group #bankAccount,
.row .form-group #bankName,
.row .form-group #branch {
    width: 269px;
}

.row .form-group #branch {
    width: 275px;
}

.row .form-group input,
.row .form-group select {
    border: 1px solid #888;
    padding: 1px 2px;
}

.row .form-group select {
    height: 24px;
}

.row .form-group input {
    height: 20px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
}

.form-group {
    height: 40px;
}

.modal-footer input {
    width: 75px;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
}

.modal-footer input:first-child {
    border: 1px solid #000;
    margin-right: 4px;
    background-color: #fff;
    transition: all .3s ease;
}

.modal-footer input:first-child:hover {
    background-color: #ccc;
}

.modal-footer input:last-child {
    border: none;
    background-color: #8433FF;
    color: #F0E6FF;
    transition: all .3s ease;
}


.modal-footer input:last-child:hover {
    background-color: #C199FF;
    border-color: #C199FF;
}

.dialog-area {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.dialog-area.open {
    display: block;
}

.dialog {
    position: absolute;
    min-width: 30%;
    border-radius: 4px;
    min-height: 100px;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    z-index: 10;
    margin-left: 86px;
    padding: 10px;
    transition: all .3s ease;
    font-size: 18px;
}

.dialog__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.dialog__header p {
    font-weight: bold;
}

.dialog__header button {
    height: 32px;
    width: 32px;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    border: none;
    background-color: #fff;
    border: 1px solid #ccc;
}

.close__dialog:hover,
.close__dialog:hover .close__dialog img {
    background-color: #b6b4b4;
}

.dialog__header button img {
    height: 16px;
    width: 16px;
}

.dialog__content {
    margin-bottom: 12px;
}

.dialog__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dialog__footer button {
    font-size: 16px;    
    height: 32px;
    line-height: 32px;
    min-width: 56px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

.dialog__footer button:first-child {
    background-color: #fff;
    border: 1px solid #ccc;
    transition: all .3s ease;
}

.dialog__footer button:first-child:hover {
    background-color: #ccc;
}

.dialog__footer button:last-child {
    color: #F0E6FF;
    margin-left: 8px;
    background-color: #8433FF;
    border: 1px solid #8433FF;
    transition: all .3s ease;
}

.dialog__footer button:last-child:hover {
    background-color: #C199FF;
    border-color: #C199FF;
}

.table__footer {
    background-color: #f9f9f9;
}

#sidebar .shrink span {
    transition: all 0.5s ease;
}

#sidebar.close .shrink span {
    display: none;
}

#sidebar.close .shrink i {
    transition: all 0.5s ease;
    rotate: 180deg;
}

#sidebar .shrink i {
    transition: all 0.5s ease;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 20px;
}

.footer__left {
    position: absolute;
    left: 0;
    font-size: 16px;
}

.footer__right {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.footer__right select {
    margin-left: 10px;
    padding: 5px;
}

#rowsPerPage {
    border: none;
    background-color: transparent;
}

.change-page {
    margin-left: 16px;
}

.change-page button {
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.next-page {
    margin-left: 16px;
}

.change-page button i {
    font-weight: bold;
}

.change-page button i::before {
    font-size: 20px;
}

/*
    begin import employee
*/

.ie-wrapper {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 3px 30px;
}

.title-bar h2 {
    margin: 0;
    font-size: 22px;
    color: #454f63;
}

.title-bar-close {
    background: url('../icon/close-48.png') center no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border: none;
    color: #ccc;
    position: absolute;
    right: 30px;
}

.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.step-item-content {
    height: 45px;
    width: 45px;
    background-color: #F5F5F5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps .step-item:not(:last-child) .step-border {
    height: 0;
    width: 0;
    position: relative;
    left: 60%;
}

.steps .step-item:not(:last-child) .step-border::after {
    content: "";
    display: block;
    width: 125px;
    border: 1px solid var(--step-border-color, #F5F5F5);
    ;
}

.steps .step-item:last-child {
    position: absolute;
    right: 375px;
}

.steps .step-item.active .step-item-content {
    background-color: #2ea4f1;
    color: #fff;
}

.steps .step-item .step-item-content {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

.steps .step-item .step-text {
    font-size: 14px;
    margin-top: 10px;
    width: 190px;
    position: relative;
    left: -70px;
    padding: 0 12px;
    text-align: center;
    color: #333333;
}

.step-content {
    margin-top: 30px;
}

.step-content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.step-content-item .left-step-content {
    border: 1px solid #ccc;
    padding: 20px 30px 20px 20px;
    width: 25%;
}

.step-content-item .left-step-content .step-title {
    color: #646363;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.step-item-detail .item-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.step-content-item-1 {
    display: none;
}

.step-content-item-1.active {
    display: block;
}

.step-item-detail .item-content .item-icon {
    color: #646363;
    padding-right: 20px;
    display: flex;
    padding-top: 7px;
    width: 48px;
    height: 48px;
}

.step-item-detail .item-content .item-icon i {
    font-size: 24px;
}

.step-item-detail .item-content .item-title-text {
    color: #646363;
    font-weight: bold;
    padding: 4px 0;
    font-size: 15px;
}

.step-item-detail .item-content .item-text-content {
    font-size: 14px;
    color: #646363;
    padding: 4px 0;
}

.step-item-detail .item-content .item-text-content a {
    text-decoration: none;
    color: #2d90de;
}

.item-content:not(:first-child) {
    margin-top: 16px;
}

.right-step-content {
    padding: 10px 20px 20px 20px;
    position: absolute;
    right: 10px;
    top: 0px;
    width: 65%;
}

.right-step-content .step-title {
    color: #646363;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.right-step-content .step-text {
    color: #646363;
    padding-bottom: 10px;
    font-size: 15px;
}
#progress-container,
.right-step-content .import-content .result-upload {
    overflow-x: hidden;
    overflow-y: auto;
}

#progress-container {
    background-color: #9fd7fc;
    position: relative;
}

#progress-bar {
  height: 20px;
  background-color: #2ea4f1;
  width: 0;
}

#progress-text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.drag-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed gray;
    position: relative;
    border-radius: 6px;
    width: 100%;
    height: 300px;
}

.drag-container .text a {
    text-decoration: none;
    color: #2d90de;
}

.drag-container .text {
    color: #646363;
}

.drag-box {
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.drag-box::-webkit-file-upload-button {
    visibility: hidden;
    /* Ẩn nút "Choose File" mặc định */
}

.result-item.status-fail {
    background-color: #FF3551;
}

.btn-download-error {
    margin-left: 12px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.result-item.status-success {
    background-color: #15AB15;
}

.status-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 8px;
}

.status-icon {
    margin-right: 8px;
}

.status-icon i {
    color: #fff;
    font-size: 20px;
}

.status-item .text {
    color: #fff;
    font-size: 16px;
}

.btn-delete-file {
    color: #fff;
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #333;
}

.close-ie-popup,
.cancel-btn {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding: 0px 30px;
    border: 1px solid #fff;
    position: absolute;
    left: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.close-ie-popup:hover,
.cancel-btn:hover {
    border-color: #757575;
    background-color: #757575;
}

.import-btn {
    background-color: #1492e6;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border: 1px solid #1492e6;
    position: absolute;
    right: 25px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.disable {
    cursor: auto;
    color: #ccc;
    pointer-events: none;
    background-color: #AFAFAF;
    border-color: #AFAFAF;
}

.step-content-item-2 {
    display: none;
}

.step-content-item-2.active {
    display: block;
}

.left-content {
    padding: 0 30px;
}

.left-content i {
    font-size: 100px;
}

.left-content {
    position: absolute;
    top: 50px;
    left: 500px;
}

.right-content .import-result .result-item {
    position: absolute;
    top: 50px;
    right: 500px;
    display: flex;
    align-items: center;
}

.import-result .result-item .result-icon {
    margin-right: 8px;
}

.import-result .result-item .result-icon i {
    background-color: #27ae60;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.import-result .result-item .result-text {
    font-size: 18px;
    color: #27ae60;
}

/*
    end import employee
*/

/* start report page */

.report-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.title {
    font-size: 18px;
    text-align: center;
}

#ageChart {
    width: 400px !important;
    height: 400px !important;
}

.report-age {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* end report page */

/*Start filter
*/

.filter-area {
    position: absolute;
    top: 135px;
    right: 20px;
    z-index: 100;
    border-radius: 4px;
    box-shadow: 5px 5px 8px 10px rgba(0, 0, 0, 0.1);
}

/*End filter*/